<<<<<<< HEAD
<h1>Welcome to Coral</h1>
<p id="index-title">This is the home page for Coral.</p>

<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section>I am the content in a section element.</section>
=======
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
>>>>>>> adding-devise
